default:
  suites:
    default:
      path: '%paths.base%/features'
      contexts:
        - FeatureContext
        - LibreSign\Behat\MailpitExtension\Context\MailpitContext
  extensions:
    LibreSign\Behat\MailpitExtension:
      base_url: '%env(MAILPIT_BASE_URL)%'
