name: Behat

on:
  push:
    branches: [master]
  pull_request:

jobs:
  tests:
    services:
      mailpit:
        image: axllent/mailpit:latest
        ports:
          - 2025:1025
          - 9025:8025
    runs-on: ubuntu-latest
    name: Test
    strategy:
      fail-fast: false
      matrix:
        php: ["8.2", "8.3"]

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2.36.0
        with:
          php-version: "${{ matrix.php }}"
          extensions: json, iconv
          coverage: none
          ini-file: development
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: composer install

      - name: Run unit tests
        run: composer run test:unit

      - name: Run Behat tests
        run: composer run test:behat
        env:
          MAILPIT_BASE_URL: http://localhost:9025
